<!-- <div class="app-container">
  <header class="app-header">
    <div class="container">
      <h1>
        <span class="logo">🤖</span>
        {{ title }}
      </h1>
      <p class="subtitle">{{ subtitle }}</p>
    </div>
  </header>

  <div class="app-content">
    <div class="container">
      <app-context />
      
      <br />

      <app-chat />

    </div>
  </div>

</div> -->
<!----------------->

<div class="container">
  <app-chat />
  
  <button (click)="setTheContenxt()" style="background-color: red; width: 100px; height: 100px;">
    Button
  </button>
</div>

